*.class
*.jar
out/
input/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

#Generated
MiniBaseVisitor.java
MiniLexer.java
MiniLexer.tokens
Mini.tokens
MiniVisitor.java
MiniParser.java
MiniBaseListener.java
MiniListener.java
antlr.generated
